{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{ form_start(form) }}

<div class="row">
	<div class="col">
		<div>
			{{ form_row(form.brandName)}}
		</div>
		<div>
			{{ form_row(form.model)}}
		</div>
		<div>
			{{ form_row(form.releaseDate)}}
		</div>
		<div>
			{{ form_row(form.price)}}
		</div>
		<div>{{ form_row(form.color)}}</div>
		<div>{{ form_row(form.numberOfDoors)}}</div>

	</div>
	<div class="col">
		<div>
			{{ form_row(form.mileage)}}
		</div>
		<div>
			{{ form_row(form.fiscalPower)}}
		</div>
		<div>
			{{ form_row(form.power)}}
		</div>
		<div>
			{{ form_row(form.motorization)}}
		</div>
		<div>
			{{ form_row(form.engineDisplacement)}}
		</div>
		<div>{{ form_row(form.maxSpeed)}}</div>

	</div>

	<div class="col">
		<div>{{ form_row(form.equipments)}}</div>
		<div>{{ form_row(form.options)}}</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div>
			{{ form_row(form.featuredImage)}}
		</div>

		{# <div class="photos" data-index="{{ form.photos|length > 0 ? form.photos|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.photos.vars.prototype)|e('html_attr') }}">
					{{ form_widget(form.photos) }}
				</div> #}
		{# <div class="text-end">
					<button type="button" id="add-photo" class="btn btn-primary add_note_action" data-collection-holder-class="photos">Ajouter une photo</button>
				</div> #}
	</div>
</div>
<div>
	<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
</div>

{{ form_end(form) }}
{% block javascripts %}
	<script defer src="{{ asset('app.js') }}"></script>
{% endblock %}
