{% extends 'base.html.twig' %}

{% block title %}Vos véhicules d'occasion
{% endblock %}

{% block body %}

	<h1>{{ page_title }}</h1>
	<div class="text-end">
		<a href="{{ path('admin_vehicles_new') }}" class="btn btn-primary">Ajouter un véhicule</a>
	</div>
	<div class="table-responsive-md">
		<table class="table table-striped table-sm table-hover">
			<thead>
				<tr>
					<th scope="col">Modèle</th>
					<th scope="col">Kilométrage</th>
					<th scope="col">Image</th>
					<th scope="col">Mise en circulation</th>
					<th scope="col" style="width: 80px">Moteur</th>
				</tr>
			</thead>
			<tbody>
				{% for vehicle in vehicles %}
					<tr>
						<td>
							<a href="{{ path('admin_vehicles_edit', {'id': vehicle.id}) }}">
								{{ vehicle.brandName}}
								-
								{{vehicle.model}}
								-
								{{ vehicle.engineDisplacement }}
								cm3
							</a>
						</td>
						<td>{{vehicle.mileage}}
							kms</td>
						{# <td>{{ vehicle.featuredImage}}</td> #}
						<td>{{ vehicle.releaseDate|date('d/m/Y', timezone="Europe/Paris")}}</td>
						<td>{{ vehicle.motorization}}</td>
						<td>
							<a href="{{ path('admin_vehicles_edit', {'id': vehicle.id}) }}" class="btn btn-sm btn-primary">
								<span data-feather="edit">Editer</span>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">Il n'y a aucun véhcule d'occasion</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
