{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title}}
{% endblock %}

{% block body %}
	<a href="{{ path('services_index') }}">Retour</a>


	<div class="row">

		<div class="col">
			<h1>{{ service.title }}</h1>
			<p>{{ service.description }}</p>
		</div>
		<div class="col-sm-4">
			{% if service.imageName %}
				<img src="{{ vich_uploader_asset(service) }}" class="card-img-top img-fluid" alt="{{service.title}}">
			{% endif %}


		</div>
	</div>
{% endblock %}
