{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title}}
{% endblock %}

{% block body %}
	<a href="{{ path('services_index') }}">Retour</a>


	<div class="row">

		<div class="col">
			<h1>{{ service.title }}</h1>
			{% if service.imageName %}
				<div class="ms-5 mb-3 w-50 float-end">
					<img src="{{ vich_uploader_asset(service) }}" class="card-img-top img-fluid" alt="{{service.title}}">
				</div>
			{% endif %}
			<p>{{ service.description }}</p>
		</div>
		<div></div>
	</div>
{% endblock %}
