<div class="card border-0 h-100">
	{% if vehicle.featuredImage %}
		{# <img src="{{ vich_uploader_asset(vehicle) }}" class="card-img-top img-fluid" alt="{{vehicle.title}}"> #}

		<img src="{{ asset('uploads/images/default.png') }}" class="card-img-top img-fluid" alt="{{vehicle.brandName}}"/>
	{% else %}
		<img src="{{ asset('uploads/images/default.png') }}" class="card-img-top img-fluid" alt="{{vehicle.brandName}}"/>
	{% endif %}
	{# <img src="{{ asset('uploads/images/default.png') }}" class="card-img-top img-fluid" alt="{{vehicle.brandName}}"> #}
	{# <img src="{{ vich_uploader_asset(vehicle) }}" class="card-img-top img-fluid" alt="{{vehicle.brandName}}"> #}
	<div class="card-body">
		<h2 class="card-title">{{ vehicle.brandName }}
			{{ vehicle.model }}</h2>
		<div>
			<div class="d-flex">
				<div class="fw-bold w-50">Price</div>
				<div>{{ vehicle.price }}
					€ TTC</div>
			</div>
			<div class="d-flex">
				<div class="fw-bold w-50">Kilométrage</div>
				<div>{{ vehicle.mileage}}
					kms</div>
			</div>
			<div class="d-flex">
				<div class="fw-bold w-50">Année</div>
				<div>{{ vehicle.releaseDate|date('Y', timezone="Europe/Paris")}}</div>
			</div>
		</div>
	</div>
	<div class="card-footer bg-transparent text-end border-0">
		<a href="{{ path('vehicles_view', {'id': vehicle.id}) }}" class="btn btn-primary">Détails</a>
	</div>
</div>
